spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=update
spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.security.SecurityAutoConfiguration
spring.jpa.defer-datasource-initialization=true
app.secret-key=
spring.resources.add-mappings=false
spring.mvc.throw-exception-if-no-handler-found=true