################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/plan-wise-net-core/backend/bin/Debug/net6.0
/plan-wise-net-core/backend/obj
/plan-wise-net-core/frontend/bin/Debug/net6.0
/plan-wise-net-core/frontend/obj
/plan-wise-net-core/.vs
/plan-wise-net-core/backend/appsettings.json
/plan-wise-net-core/backend/appsettings.Development.json
/plan-wise-net-core/frontend/bin/Release/net6.0
/plan-wise-net-core/frontend/wwwroot/lib/bootstrap/node_modules
/plan-wise-net-core/backend/bin
/plan-wise-net-core/frontend/bin/Debug/net7.0
