<div #notesModal class="modal fade" id="notesModal" tabIndex="-1" aria-labelledby="notesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notesModalLabel">Notes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label htmlFor="notesTextArea" class="form-label">{{localSelectedDate}}</label>
                <textarea class="form-control" id="notesTextArea" rows="3" [(ngModel)]="localCurrentNotes.notes"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveNotes(localSelectedDate)">Save changes</button>
            </div>
        </div>
    </div>
</div>
